/* Global styles */

/* main body text */
body {
  font-family: "Martel Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* primary header text */
h1 {
  font-family: "Asap", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: bold-italic;
  font-variation-settings:
    "wdth"100;
}

/* secondary header text */
h2,
h3,
h4,
h5 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: semi-bold;
}

/* landing page div */
.landing-page {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  background: url('../images/grocery-basket-hero-img.webp') no-repeat center center/cover;
  background-color: #FCFCFC;
  text-align: center;
}

/* hero section */
.hero-section {
  background: rgba(55, 71, 79, 0.5);
  /* Dark overlay for better text readability */
  padding: 20px;
  border-radius: 10px;
  color: #FCFCFC;
}