/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* General wildcard styles to override browser defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */

/* main body text */
html,
body {
  font-family: "Martel Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  background-color: #FCFCFC;
  width: 100%;
  overflow-x: hidden;
  /* prevent horizontal overflow */
}

/* primary header text */
h1 {
  font-family: "Asap", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
  font-variation-settings:
    "wdth"100;
}

/* secondary header text */
h2 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

/* LANDING PAGE */
#landing-page {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  background: url('../images/grocery-basket-hero-img.webp') no-repeat center center/cover;
}

/* hero section */
#hero-section {
  background: rgba(55, 71, 79, 0.5);
  /* Dark overlay for better text readability */
  padding: 20px;
  border-radius: 10px;
  color: #FCFCFC;
}

#hero-content>h1 {
  color: #FFEB3B;
}

#hero-content>p {
  color: #B2EBF2;
}

/* button */
#cta-button {
  background-color: #8BC34A;
  color: #FCFCFC;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  border: none;
  padding: 15px 30px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: inset -11px 18px 10px 0px rgba(252, 252, 252, 0.3);
}

#cta-button:hover {
  background-color: #477116;
}

/* credits div */
#credits {
  margin-top: 10px;
  font-size: 0.6em;
}

#credits a {
  color: #FCFCFC;
}

/* Media query: tablets and larger (>=768px) */
@media screen and (min-width: 768px) {

  /* landing page div */
  #hero-section {
    width: 70%;
    padding: 40px 30px;
  }

  /* hero content */
  #hero-content>h1 {
    font-size: 3em;
  }

  #hero-content>p {
    font-size: 1.5em;
  }

  /* button */
  #cta-button {
    font-size: 1.8em;
  }

  /* credits div */
  #credits {
    margin-top: 20px;
    font-size: 0.8em;
  }

}

/* Media query: laptops and larger (>=992px) */
@media screen and (min-width: 992px) {

  /* landing page div */
  #hero-section {
    padding: 20px 10px;
  }

  /* hero content */
  #hero-content>h1 {
    font-size: 5em;
    padding-bottom: 10px;
  }

  #hero-content>p {
    font-size: 2.5em;
    padding-bottom: 10px;
  }

  /* button */
  #cta-button {
    font-size: 3em;
    padding: 30px 15px;
  }

  /* credits div */
  #credits {
    margin-top: 50px;
    font-size: 1.2em;
  }

}

/* TRACKER PAGE */
header {
  background-color: rgb(255, 235, 59, 0.3);
  color: #37474F;
  padding: 10px 5px;
}

/* application area */
.app-area {
  position: relative;
  padding-left: 20%;
  text-align: left;
  margin: 10px 0;
}

/* category area */
.category-area {
  margin: 10px 0;
}

/* category heading */
.category-heading {
  margin-bottom: 10px;
  background-color: #B2EBF2;
  width: fit-content;
}

/* new item input area */
.add-item-area,
.shop-list {
  padding-left: 1rem;
}

/* new item/category input box */
.add-item,
.add-category {
  width: 50%;
  max-width: 300px;
}

/* grocery lists */
.shop-list {
  list-style: none;
}

/* ticked-off item style */
.ticked-off {
  text-decoration: line-through;
}